<!DOCTYPE HTML>
<html>
<head>
    <title>data monitor</title>
    <meta charset="utf-8"/>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        body{
            background:gray;
        }
        .login-box{
            height: 350px;
            width:400px;
            margin:0 auto;
            margin-top:50px;
            background:white;
        }
        .text-center{
            text-align: center;
        }
        .item-login{
            width:280px;
            margin:0 auto;
            margin-top:35px;
        }
        .item-button{
            margin-left:44px;
        }
    </style>
</head>
<body>
<div class="panel panel-default login-box">
    <div class="panel-heading text-center">问&nbsp;&nbsp;卷&nbsp;&nbsp;调&nbsp;&nbsp;查&nbsp;&nbsp;系&nbsp;&nbsp;统</div>
    <div class="panel-body">
        <div class="input-group item-login">
            <span class="input-group-addon">账号</span>
            <input type="text" class="form-control" placeholder="" id="username">
        </div>
        <div class="input-group item-login">
            <span class="input-group-addon">密码</span>
            <input type="password" class="form-control" placeholder="" id="password">
        </div>
        <button class="btn btn-default item-login item-button" type="submit">登&nbsp;&nbsp;&nbsp;录</button>
    </div>
</div>
<script type="text/javascript" src="/js/jquery-2.0.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $('button[type="submit"]').click(function(){
            var url = '/doLogin';
            var username = $("#username").val();
            var password = $("#password").val();
            if(username == '' || password == '') {
                alert('账号或密码不能为空');
            }
            $.post(url,{"username":username,"password":password},function(ret) {
                if(ret['en'] != 200) {
                    alert(ret['em']);
                } else {
                    window.location.href = '/';
                }
            });
        });
    });
</script>
</body>
</html>